<!DOCTYPE html>
<html dir="rtl" class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/fontiran.css">
  <link rel="stylesheet" href="/assets/packages/line-awsome/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
  <script src="https://kit.fontawesome.com/ca2138825c.js" crossorigin="anonymous"></script>
  <title>نسل نو</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class=" bg-white ">
