<div class="w-full bg-white pt-5 px-2" >
  <div class="flex flex-row items-center justify-between">
    <!-- logo -->
    <div>
      <img src="public\img\logo.png" alt="MONJI-TV">
    </div>
  
    <!-- navbar -->
    <div class="flex flex-1 justify-center gap-4">
      <a href="#" class="mx-1 px-3 py-1 rounded-full hover:bg-slate-200">خانه</a>
      <a href="#" class="mx-1 px-3 py-1 rounded-full bg-slate-200">ویدئو</a>
      <a href="#" class="mx-1 px-3 py-1 rounded-full hover:bg-slate-200">پخش زنده</a>
      <a href="#" class="mx-1 px-3 py-1 rounded-full hover:bg-slate-200">بلاگ</a>
      <a href="#" class="mx-1 px-3 py-1 rounded-full hover:bg-slate-200">دربارهٔ ما</a>
    </div>
  
    <!-- left box -->
    <div class="flex items-center justify-between gap-2">

      <!-- search -->
      <div class="flex items-center bg-slate-200 rounded-full px-3 h-9">
        <input class="bg-inherit focus:outline-0 w-full" type="text" name="" id="">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>

      <!-- Fa -->
      <div class="flex items-center bg-slate-200 rounded-full w-9 h-9 justify-center">
        <a href="#">
          Fa
        </a>
      </div>
      
      <!-- dark & bright -->
      <div class="flex items-center bg-slate-200 rounded-full w-9 h-9 justify-center">
        <a href="#">
          <i class="fa-regular fa-sun"></i>
        </a>
        <!-- <a href="#">
          <i class="fa-regular fa-moon"></i>
        </a> -->
      </div>

      <!-- profile -->
      <div class="flex items-center bg-[#e71e2a] rounded-full w-9 h-9 justify-center">
        <a href="#">
          <i class="fa-regular fa-user"></i>
        </a>

      </div>
    </div>
  </div>
</div>